{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block css %}
    <link rel="stylesheet" href="{% static "staticfiles/css/my_footer_css.css" %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-1">
        <div class="col-lg-1">
        </div>
            <div class="col-lg-10">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bg-white p-4 mb-4 rounded custom-shadow">
                                <h2>Інформація про книги</h2><br>
                                <form class="mb-4" action="{% url 'orders:books_info' %}" method="get">
                                    <div class="btn-group" role="group" aria-label="Books">
                                        <button type="submit" name="status" value="taken" class="btn btn-dark {% if request.GET.status == 'taken' or request.GET.status != 'reserved' and request.GET.status != 'read' %}button-active active{% endif %}">Взяті</button>
                                        <button type="submit" name="status" value="reserved" class="btn btn-dark {% if request.GET.status == 'reserved' %}button-active active{% endif %}">Заброньовані</button>
                                        <button type="submit" name="status" value="read" class="btn btn-dark {% if request.GET.status == 'read' %}button-active active{% endif %}">Прочитані</button>
                                    </div>
                                </form>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Книга</th>
                                                <th scope="col">Автор</th>
                                                <th scope="col">Статус бронювання</th>
                                                <th scope="col">Дата взяття</th>
                                                <th scope="col">Дата повернення</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                            {% for order_item in order_items %}
                                                <tr style="vertical-align: middle;">
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td>{{ order_item.book.name }}</td>
                                                    <td>{{ order_item.book.author }}</td>
                                                    <td>{{ order_item.order.get_order_status_display }}</td>
                                                    <td>{% if order_item.order_start %}{{ order_item.order.get_formatted_time_order_start }}{% endif %}</td>
                                                    <td>{% if order_item.order_end %}{{ order_item.order.get_formatted_time_order_end }}{% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark fixed-bottom custom-shadow col-12" style="height: 50px; line-height:20px">
        <div class="container d-flex">
            <div class="col-11">
                <p class="footer-text">Онлайн-бібліотека «New Age» © 2024</p>
            </div>
            <div class="col-1">
                <a href="{% url "dovidka:informatsiya_pro_knigi" %}" class="footer__help">
                    <span><img class="footer-help" src="{% static "staticfiles/icons/info-square-fill.svg" %}" width="25" height="25" alt="help-info"></span>
                </a>
            </div>
        </div>
    </footer>
{% endblock %}
