{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "staticfiles/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
<div class="bg-white custom-shadow rounded" style="margin-top: 150px; ">
    <div class="container p-3">
        <h3 class="m-2 p-1"><strong>Про нас</strong></h3>
        <p class="m-2 p-1">Бібліотека <strong>New Age</strong> - це сучасний культурний простір, де кожен може знайти щось цікаве та корисне для себе. 
            Наша місія полягає в тому, щоб зробити доступними найновіші видання та класичні шедеври світової літератури для всіх шукачів знань та емоційних вражень.<br>
            Ми пропонуємо широкий вибір книг у різних жанрах - від літературних шедеврів до популярних фантастик. 
            Кожен читач зможе знайти у нас щось цікаве для себе, незалежно від своїх інтересів та переваг.<br>
            Ми віримо, що кожна книга може змінити світ, та робимо все можливе, щоб допомогти нашим читачам знайти та засвоїти цю мудрість.<br>
        </p>
    </div>
</div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark fixed-bottom custom-shadow col-12" style="height: 50px; line-height:20px">
        <div class="container d-flex">
            <div class="col-11">
                <p class="footer-text">Онлайн-бібліотека «New Age» © 2024</p>
            </div>
            <div class="col-1">
                <a href="{% url "dovidka:informatsiya" %}" class="footer__help">
                    <span><img class="footer-help" src="{% static "staticfiles/icons/info-square-fill.svg" %}" width="25" height="25" alt="help-info"></span>
                </a>
            </div>
        </div>
    </footer>
{% endblock %}