.linkc a {
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
}
.linkc a:hover {
    color: #fcba03;
}
.social-media ul {
    display: inline-block;
}
.social-media ul li {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.social-media ul li a {
    font-size: 20px;
    color: white;
    letter-spacing: 0.1em;
    background: transparent;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.social-media ul li a:hover {
    color: #fcba03;
}
li>a>i {
    color:black;
}